# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Variáveis de ambiente
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini

# Testes / cache
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Build / pacotes
build/
dist/
*.egg-info/